<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Professor</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="salvar()">
        Salvar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Formulário</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked"
                >Nome Completo:</ion-label
              >
              <ion-input
                inputmode="text"
                placeholder="Ex..: Ana Maria"
                value="Nome Completo do Professor"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input
                inputmode="email"
                placeholder="Ex.: ana_maria@gmail.com"
                value="ana_maria@gmail.com"
              >
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Celular:</ion-label>
              <ion-input
                inputmode="tel"
                placeholder="Ex.: 11999991088"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" padding>
          <ion-list margin-bottom>
            <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">Perfil</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="primary">Professor</ion-label>
                <ion-radio slot="start" value="customer" checked></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label color="primary">Coordenador</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item>
              <ion-icon name="hammer" slot="start" color="primary"></ion-icon>
              <ion-label class="label" color="primary"> Ativo </ion-label>
              <ion-toggle></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
