<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button color="primary" (click)="closeModal()">
              <ion-icon name="close" color="light"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
        Filtros
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-item>
      <ion-label class="fw500" color="dark">Tipo</ion-label>
      <ion-select [(ngModel)]="organizeby" cancelText="Cancelar">
        <ion-select-option>Teórica</ion-select-option>
        <ion-select-option>Estágio</ion-select-option>
        <ion-select-option>Rafia</ion-select-option>
        <ion-select-option>UBS</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label class="fw500" color="dark">Campo</ion-label>
      <ion-select [(ngModel)]="dishtype" multiple="true" cancelText="Cancelar">
        <ion-select-option>Mboi</ion-select-option>
        <ion-select-option>UBS Paraisópolis</ion-select-option>
        <ion-select-option>Einstein Paulista</ion-select-option>
        <ion-select-option>Einstein Morato</ion-select-option>
        <ion-select-option>Vila Santa Catarina</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button expand="full" color="primary" (click)="closeModal()">Filtrar</ion-button>
  </ion-content>
  